body {
  background-color: white;
}

.game-contianer {
  overflow: auto;
  white-space: nowrap; 

  padding: 8px 0px 8px 0px;
}

.game-board {
  display: inline-block;

  border: solid 3px #aaaaaa;
  border-top: solid 3px #888888;
  border-left: solid 3px #888888;
}

.game-row {
  height: 32px;
}

.game-cell {
  height: 32px;
  width: 32px;
  background-color: #cccccc;

  display: inline-block;
  border: solid 1px #888888;
 
  position: relative;
}

.game-cell.mine {
  background-image: url("/mine.png");
  background-size: cover;
  background-position: center;
}

.game-cell.flag {
  background-image: url("/flag-transparent.png");
  background-size: cover;
  background-position: center;
}

.game-cell.filled {
  cursor: pointer;
  border-top-color: white;
  border-left-color: white;
  outline-color: #888888;

  border-width: 4px;
}

.game-cell.filled:hover {
  cursor: pointer;
  border-width: 5px;
}

.game-cell .cell-value {
  position: absolute;

  top: 0px;
  left: 9px;
  
  font-size: 18px;
  font-weight: bold;

  -webkit-text-stroke: 0.5px #44444477;
}

.cell-value.num-1 {
  color: blue;
}

.cell-value.num-2 {
  color: green;
}

.cell-value.num-3 {
  color: red;
}

.cell-value.num-4 {
  color: darkblue;
}

.cell-value.num-5 {
  color: darkred;
}

.cell-value.num-6 {
  color: darkturquoise;
}

.cell-value.num-7 {
  color: black;
}

.cell-value.num-8 {
  color: darkgray;
}

.flag-mode-container {
  position: fixed;
  right: 0px;
  bottom: 0px;

  height: 50px;
  width: 50px;

  border: solid 1px #cccccc;
  cursor: pointer;

  background-color: #fcfcfc;
}

.flag-mode-container.active {
  background-color: lightskyblue;
}

.flag-mode-button {
  position: absolute;

  background-image: url("/flag-transparent.png");
  background-size: cover;
  background-position: center;

  height: 40px;
  width: 40px;

  left: 5px;
  top: 5px;
}

.reset-form {
  width: 100%;
  max-width: 350px;
}

.custom-range:hover {
  opacity: 0.9;
}

.custom-range {
  -webkit-appearance: none;
  height: 35px;
  
  background: #d3d3d3;
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.custom-range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}